@import '../Constants';
.cafe-item{
  position: relative;
  width: 240px;
  height: 345px;
  margin-bottom: 20px;
  // height: 340px;
  .item-info{
    position:unset;
  }
  .cafe-item__img{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .price{
    span{
      margin-right: 3px;
      opacity: 0.25;
    }
    .active_price{
      opacity: 1;
    }
  }
  .item__title{
    width: 80%;
  }
  .address{
    margin-top: 5px;
    display: flex;
    align-items: center;
    .pin{
      margin-right: 8px;
    }
  }
  .fave__button{
    cursor: pointer;
    position: absolute;
    bottom:15px;
    right:0;
    z-index: 10;
  }



  //fonts
  .item__title{
    font-size: 16px;
    line-height: 120%;
  }
  .address__text{
    font-size: 14px;
  }
  letter-spacing: -0.065em;
}
.cafe-item-wide{
  position: relative;
  width: 380px;
  min-height: 325px;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 46.82%);
  .type{
    position: absolute;
    display: block;
    padding: 7px 20px;
    border-radius:20px;
    background: $pink;
    top:10px;
    left:10px;
  }
  .item-info{
    position: absolute;
    width: 100%;
    padding:0 15px;
    bottom:10px;
  }
  .price{
    filter:invert(1);
    span{
      margin-right: 3px;
      opacity: 0.25;
    }
  }
  .fave__button{
    bottom:0;
    margin-right: 10px;
    filter:invert(1);
  }
  .cafe-item__img{
    z-index: -1;
    position: absolute;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .item__title{
    width: 65%;
  }



  //fonts
  .item__title,
  .address__text{
    color:#fff;
  }
  .type{
    font-size: 14px;
    font-weight: 800;
  }
}
@media(max-width:1279px){
  .cafe-item{
    margin-bottom: 15px;
    width: 48%;
    height: 310px;
    .item-info{
      margin-top: 10px;
    }
    .cafe-item__img{
      height: 210px;
      min-width: 100%;
    }
    .fave__button{
      bottom:auto;
      top:210px;
      height: 40px;
      width: 40px;
      img{
        height: 80%;
      }
    }
    
    .item__title{
      width: 100%;
    }
    //fonts
    .item__title{
      font-size: 18px;
      line-height: 100%;
    }
  }
  .cafe-item-wide{
    width: 100%;
    .cafe-item__img{
      height: 100%;
    }
    .fave__button{
      bottom:0px;
      top:auto;
    }
    .item__title{
      width: 80%;
    }
  }
  
}