@import '../Constants';
header{
  z-index: 10;
  width: 100%;
  position: fixed;
  background: #fff;
  margin-bottom: 15px;
  height: 60px;
  .wrapper{
    display: flex;
    align-items: center;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-container{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
  }
  .fave__button{
    margin-top: 7px;
  }
  .row{
    position: absolute;
    width: 0;
    height: 5px;
    background: #000;
    top:60px;
    left:0;
  }
  .row::before{
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    background: #000;
  }


  //fonts
  .logo{
    font-weight: 800;
    font-size: 32px;
    letter-spacing: -0.065em;
    strong{
      font-weight: 300;
    }
  }
}
@media (max-width:1279px) {
  header{
    .fave__button{
      height: 40px;
      margin-top: 0px;
      img{
        height: 100%;
      }
    }
    .to-search__button{
      height: 40px;
      margin: 10px 0 0 10px;
    }
    .nav-button{
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 60px;
      width: 60px;
      span{
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 5px;
        margin: 2px auto;
        transition: all .8s;
        background: $pink;
      }
    }
    .active__button{
      span:nth-child(2){
        opacity: 0;
      }
      span:nth-child(1){
        background: #000;
        width: 30px;
        transform: rotate(40deg) translate(5px,5px);
      }
      span:nth-child(3){
        background: #000;
        width: 30px;
        transform: rotate(-40deg) translate(5px,-5px);
      }
    }
    .row{
      height: 3px;
    }
  
    //fonts
    .logo{
      font-size: 24px;
    }
  }
}