@import '../Constants';
.random{
  padding: 30px 0 30px 20px;
  .random-top{
    display: flex;
    .random__title{
      max-width: 210px;
      font-weight: 300;
      line-height: 100%;
    }
    img{
      filter:invert(1);
    }
  }
  
  .random__generate{
    display: block;
    transition: all .6s;
    height: 45px;
    font-weight: 800;
    line-height: 100%;
    background: #000;
    border-radius: 80px;
    width: 290px;
    height: 55px;
    padding: 17px 70px 0;
    font-size: 18px;
  }

  //fonts
  
  .random__title{
    font-size: 24px;
  }
  
  .random__button span{
    font-size: 14px;
    font-weight: 300;
  }
  letter-spacing: -0.065em;
}
.random-block{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 15px;
  .random__button{  
    cursor: pointer;  
    overflow: hidden;

    transition: all 1s;
    height: 71px;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    margin: 0 5px 7px 0;
    position: relative;
    span{
      color:#fff;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      letter-spacing: -0.065em;
      text-align: left;
      line-height: 100%;
      transform: scale(1);
      margin: 0 65px 15px 20px;
      font-weight: 800;
      max-width: 70px;
      z-index: 2;
    }
    img{
      position: absolute;
    transition: all 1s;

      right:0;
      border-radius: 16px;
    }
  }
  .random__button:hover{
    img{
      transform: scale(1.1);

    }
  }
  #food{
    background: #f15256; /* Old browsers */ background: -webkit-linear-gradient(left, #f15256, #ff6b29); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #f15256, #ff6b29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  #route{
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  }
  #coffee{
    background: #fed2a1; /* Old browsers */ background: -webkit-linear-gradient(left, #fed2a1, #a97953, #644431); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to left, #fed2a1, #a97953, #644431); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  #foodcort{
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  }
  #favs{
    img{
      bottom:10px;
      right:10px;
    }
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }

  .active_button{
    border-radius: 100px;
    img{
      border-radius: 100px;
    }
    background: #454545; /* Old browsers */ background: -webkit-linear-gradient(left, #454545, #212121); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #454545, #212121) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}
@media(max-width:1279px){
  .random{
    position: relative !important;
    top:auto !important;

    max-width: 100%;
    padding-left: 20px;
  }
}