@import '../../Constants';
.single-head{
  .head-block{
    display: flex;
    .item-links{
      position: absolute;
      right:0;
      display: flex;
      flex-direction: row-reverse;
      .fave__button{
        height: 40px;
        width: 40px;
        img{
          height: 100%;
        }
      }
      .map__button,
      .web__button{
        margin-bottom: 5px;
        right:40px;
        height: 40px;
        img{
          padding: 5px;
          height: 100%;
        }
      }
      .web__button{
        img{
          padding: 8px;
        }
      }
    }
    .cafe-item{
      height: auto;
      margin-right: 50px;
    }
    .col{
      min-width: 400px;
      .cafe-item__img{
        height: 550px;
        width: 400px;
        object-fit: cover;
      }
        .item-info{
          position: relative;
          .prefs{
            .price img{
              margin: 10px 0;
              height: 16px;
            }
          }
          


        }
      
      
      .head__text{
        font-size: 18px;
        width: 420px;
        line-height: 120%;
      }
      .accent__text{
        margin: 40px 0 20px;
        width: 400px;
        padding: 30px;
        // background: $pink;
        background: url('../../../images/grad.png');
      }
     
    }
    .col:not(.cafe-item){
      margin-top: 30px;
    }
  }

  //fonts
  
  .item__title{
    font-size: 36px;
    line-height: 90%;
    width: 100% !important;
  }
  .address__text{
    font-size: 24px;
  }
  .head__text{
    font-size: 18px;
    font-weight: 300;
    strong{
      font-weight: 800;
    }
  }
  .accent__text{
    color:#fff;
    font-size: 20px;
    font-weight: 300;
    strong{
      font-weight: 800;
    }
  }
  .map__button,.web__button{
    font-size: 14px;
    font-weight: 800;
  }
}
@media(max-width:1279px){
  .single-head{
    .head-block{
      flex-direction: column;
      
      .cafe-item{
        margin-right: 0;
      }
      .col{
        min-width: auto;
        width: 100%;
        .item-info{
          position: relative;
          .fave__button{
            top:auto;
            bottom:0;
          }
        }
        .cafe-item__img{
          height: 550px;
          width: 100%;
          height: 335px;
        }
        
        .head__text{
          width: 90%;
        }
        .accent__text{
          width: 100%;
        }
        .fave__button{
          position: absolute;
          top:auto;
          bottom: 0;
          margin-bottom: 5px;
          height: 40px;
          width: 40px;
          img{
            height: 100%;
          }
        }
        .map__button,
        .web__button{
          position: absolute;
          top:auto;
          bottom: 0;
          margin-bottom: 5px;
          right:40px;
          height: 40px;
          img{
            padding: 5px;
            height: 100%;
          }
        }
        .web__button{
          right: 80px;
          img{
            padding: 8px;
          }
        }
      }
    }



    //fonts
    
    .item__title{
      font-size: 22px;
      width: 80% !important;
    }
    .address__text{
      font-size: 18px;
    }
    .head__text,.accent__text{
      line-height: 130%;
    }
  }
}