@import '../Constants';
.favs-page{
  .favs-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }
  .exit{
    margin-top: 15px;
  }


  //fonts
  .favs__title{
    font-weight: 800;
    font-size: 48px;
    letter-spacing: -0.065em;
  }
  .exit{
    letter-spacing: -0.065em;
    text-align: right;
    font-size: 18px;
    line-height: 100%;
  }
}
@media (max-width:1279px) {
  .favs-page{
    .exit{
      margin-top: 0;
    }

    
    //fonts
    .favs__title{
      font-size: 24px;
    }
  }
}