@import '../Constants';
.main-page{
  .categories{
    display: flex;
    margin: 20px 0 15px;
    .categorie__name{
      margin-right: 60px;
    }
  }
  .category-type{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 10px;
    .category__title{
      padding:  0 10px 0 5px;
      text-decoration: underline;
      // background: $pink;
    }
    .category{
      color:$pink;
    }
  }
  
  

  //fonts
  .category__title{
    font-size: 24px;
  }
  .categorie__name{
    font-size: 18px;
    font-weight: 300;
  }
  .active_name{
    font-weight: 800;
  }
}
@media(max-width:1279px){
  .main-page{
    .categories{
      max-width: 100%;
      overflow-x: scroll;
      .categorie__name{
        margin-right: 40px;
      }
    }
    .categories::-webkit-scrollbar {
      width: 0;
    }
    .load-more{
      margin-bottom: 70px;
    }
  }
}