@import '../Constants';
.main-page{
  .categories{
    display: flex;
    margin: 20px 0 15px;
    .categorie__name{
      margin-right: 60px;
    }
  }
  

  //fonts
  .categorie__name{
    font-size: 18px;
    font-weight: 300;
  }
  .active_name{
    font-weight: 800;
  }
}
@media(max-width:1279px){
  .main-page{
    .categories{
      max-width: 100%;
      overflow-x: scroll;
      .categorie__name{
        margin-right: 40px;
      }
    }
    .categories::-webkit-scrollbar {
      width: 0;
    }
    .load-more{
      margin-bottom: 70px;
    }
  }
}