@import '../Constants';
.main-page{
  
  .category-type{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 5px;
    margin-bottom: 15px;
    border-bottom: 2px solid #000;
    .category__title{
      padding:  0 10px 0 5px;
      // text-decoration: underline;
      // background: $pink;
    }
    .category{
      color:$pink;
    }
  }
  
  

  //fonts
  .category__title{
    font-size: 28px;
  }
  .categorie__name{
    font-size: 18px;
    font-weight: 300;
  }
  .active_name{
    font-weight: 800;
  }
}
@media(max-width:1279px){
  .main-page{
    
    .load-more{
      margin-bottom: 70px;
    }
  }
}