@import '../Constants';
.map-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  .page{
    padding-top: 0;
  }
  .map-content{
    padding: 20px;
    width: 400px;
    height: 100%;
    overflow-y: scroll;
    .wrapper{
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
  .map-content::-webkit-scrollbar{
    width: 5px;

  }
  .map-content::-webkit-scrollbar-thumb {
    background-color: #000;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
  }
  .map{
    background: #000;
    height: 100vh;
    flex: 1;
    position: relative;
    .map-logo{
      position: absolute;
      top:10px;
      left:20px;
      z-index:10;
        .logo{
          font-weight: 800;
          font-size: 32px;
          letter-spacing: -0.065em;
          strong{
            font-weight: 300;
          }
      }
    }
  }
}