@import '../Constants';
.map-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  .map-content{
    padding: 20px;
    width: 400px;
    height: 100%;
    overflow-y: scroll;
    .wrapper{
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
  .map-content::-webkit-scrollbar{
    width: 0;
  }
  .map{
    background: #000;
    height: 100vh;
    flex: 1;
  }
}