@import '../Constants';
.notfound-page{
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .notfound__image{
    position: absolute;
    height: 600px;
    z-index: -1;
    bottom:-100px;
    right:0;
  }
  .button{
    font-weight: 800;
    background: $pink;
    color:#000;
  }
  //fonts
  .notfound__title{
    font-size: 72px;
    line-height: 90%;
    letter-spacing: -0.065em;
    width: 800px;
    strong{
      font-weight: 300;
    }
  }
  .notfound__text{
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 30px;
  }
}
@media (max-width:1279px) {
  .notfound-page{
    //fonts
    .notfound__title{
      font-size: 48px;
      width: 100%;
    }
    .notfound__text{
      font-size: 18px;
    }
  }
}