*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 320px;
}
.wrapper{
  width: 1240px;
  margin: 0 auto;
}
.container{
  width: 900px;
  margin-right: 20px;
}
.sidebar-container{
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
button{
  background: none;
  border: none;
}
.page{
  padding: 75px 0 50px;
  display: flex;
}
.button{
  background: #000;
  padding: 12px 30px;
  color:#fff;
}
.load-more{
  display: block;
  margin: 30px auto 0;
}
.right-banner{
  width: 100%;
  height: 600px;
  background: #000;
  opacity: 0.3;
}
.main-banner{
  width: 100%;
  height: 60px;
  background: #000;
  opacity: 0.3;
}
li{
  list-style-type: none;
}
.items-list{
  display: flex;
  flex-wrap: wrap;
  .item{
    margin-right: 20px;
  }
  .item:nth-child(3n){
    margin-right: 0;
  }
}
.item-info,.corner-info{
  position: relative;
  .item__title{
    margin-top: 10px;
    width: 100%;
  }
  .fave__button{
    img{
      height: 40px;
    }          
  }
  .address{
    margin-top: 10px;
    .pin{
      height: 25px;
    }
  }
  .prefs{
    margin: 10px 0;
    display: flex;
    align-items: center;
    .vegan-icon{
      width: 30px;
    }
    .price{
      margin-right: 15px;
      span{
        margin-right: 7px;
      }
      img{
        height: 18px;
      }
    }
  }
}
.menu{
  margin: 20px 0 60px 140px;
  width: 270px;
  .menu__title{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #000;
  }
  .menu-block{
    margin: 15px 10px;
    .menu__item{
      margin-bottom: 7px;
      display: flex;
      justify-content: space-between;
      .row-dots{
        flex:1;
        display: block;
        margin: 0 4px;
        height: 18px;
        border-bottom: 1px dashed #000;
      }
    }
  }
  .corners-block{
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    .corner__item{
      margin-bottom: 7px;
    }
    .corner__item:after{
      content: '•';
      margin: 0 10px;
      font-size: 10px;
    }
  }
  .menu__title{
    font-size: 24px;
    font-weight: 300;
  }
  .menu__item,.corner__item{
    font-weight: 300;
    font-size: 18px;
  }
}

@media (max-width:1279px) {
  .menu{
    margin: 15px 0 55px;
  }
  
  .wrapper{
    width: 90vw;
    margin: 0 5vw;
  }
  .container{
    width: 100%;
    margin-right: 0;
  }
  .sidebar-container{
    width: auto;
  }
  .right-banner{
    height: 250px;
    margin-bottom: 20px;
  }
  .items-list{
    justify-content: space-between;
    .item{
      margin-right: 0;
    }
  }
}